body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px
}

.nav-link {
  font-size: 1.3rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

/* Sections */

.colored-section {
  background-color: #FED766
}

.white-section {
  background-color: #fff;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */


.title-image {
  width: 45%;
  transform: rotate(20deg);
  margin-top: 1rem;
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #71B340;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #97C774;
}

/* Testimonials Section */
#testimonials {
  background-color: #97C774;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #97C774;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

/* cta Section */
#cta {
  padding: 7% 15%;
}

/* Footer Section */
#footer {
  padding: 3%;
}
